
.style-1 {
    border: 1px solid rgba(2, 14, 40, 0.20);
    margin-bottom: 120px;
    position: relative;

    @include breakpoint(max-xxxl){
        padding-bottom: 0;
    }
    @include breakpoint(max-xxl){
        border: 0;
    }

    @include breakpoint(max-xl){
        margin-bottom: 100px;
    }

    @include breakpoint(max-lg){
        margin-bottom: 80px;
    }

    &:before{
        position: absolute;
        content: "";
        background-color: rgba(2, 14, 40, 0.2);
        height: 1px;
        top: 42%;
        right: 0;
        width: 962px;

        @include breakpoint(max-xl4){
            display: none;
        }
    }
    .image-1{
        position: absolute;
        bottom: 40px;
        right: 14px;

        @include breakpoint(max-xxxl){
            bottom: 12px;
        }
        img{
            @include breakpoint(max-xxxl){
                width: 70%;
            }
            @include breakpoint(max-sm){
                display: none;
            }
        }
    }
    .about-image-items {
        margin-left: -65%;
        padding-top: 25px;
         padding-bottom: 25px;
         border-right: 1px solid rgba(2, 14, 40, 0.20);
         padding-right: 25px;

         @include breakpoint (max-xxl){
            margin-left: -101px;
            border: 0;
            padding-top: 0;
            padding-bottom: 0;
         }
         @include breakpoint (max-xl){
            margin-left: -101px;
            margin-left: -145px;
         }
         @include breakpoint (max-lg){
            margin-left: 0;
         }
         @include breakpoint (max-sm){
            margin-left: 0;
            padding-right: 0;
         }

        .about-image {
            max-width: 526px;
            height: 575px;
            img {
                @include imgw;
                object-fit: cover;
            }
        }
    }
    .about-right-wrap{
        margin-left: -4px;

        @include breakpoint(max-xl){
            margin-left: -20px;
        }
        @include breakpoint(max-lg){
            margin-left: 0;
        }
        @include breakpoint(max-sm){
            margin-left: 0;
        }
        .about-content {
            margin-top: 25px;
            p{
                margin-top: 60px;

                @include breakpoint(max-xxl){
                    margin-top: 10px;
                }
            }
            .title-sm{
                margin-bottom: 10px;
            }
        }
        .about-info{
            margin-top: 39px;

            @include breakpoint(max-xxl){
                margin-top: 20px;
            }
            .icon{
                margin-right: 20px;
            }
        }
        .about-btn{
            margin-top: 50px;

            @include breakpoint(max-sm){
                margin-top: 30px;
            }
            .btn-read{
                padding: 14px 31px;
            }
        }
    }
}

.about-style-2{
    position: relative;
    padding-bottom: 170px;


    @include breakpoint(max-xl){
        padding-bottom: 80px;
    }
    @include breakpoint(max-lg){
        padding-bottom: 80px;
    }
    .shape-1{
        bottom: 95px;
        left: 115px;
        animation: cir36 10s linear infinite;

        @include breakpoint(max-xxxl){
            bottom: 40px;
            left: 30px;
        }

        @include breakpoint(max-xxl){
            display: none;
        }

    }
    .shape-2{
        top: -39%;
        left: 0;

    }
    .shape-3{
        bottom: 161px;
        right: 0;
        @include breakpoint(max-xl4){
            bottom: 0;
            right: 0;
            width: 14%;
        }
        @include breakpoint(max-md){
            display: none;
        }
    }
    .brand-slider{
        margin-bottom: 120px;
    }
    .about-left-thumb{
        position: relative;
        margin-left: 126px;
        max-width: 800px;
        @include breakpoint(max-xl){
            margin-left: 0;
        }
        .thumb-img{
            @include breakpoint(max-xl){
                width: 100%;
                height: 100%;
            }
        }
        .img{
            width: 400px;
        }
        .img-1{
            left: -118px;
            bottom: -42px;
            @include breakpoint(max-lg){
                left: 0;
                bottom: 0;
            }
            @include breakpoint(max-xl){
                left: 0;
                bottom: 0;
                width: 42%;
            }
        }
        .img-2{
            right: 7%;
            bottom: -49px;
            @include breakpoint(max-lg){
                right: 0;
                top: 0;
                bottom: initial;
            }
            @include breakpoint(max-xl){
                right: 0;
                bottom: 0;
                width: 40%;
            }
        }
        .img-3{
            left: -64px;
            top: 56px;
            @include breakpoint(max-xl){
                display: none;
            }
        }
    }
    .about-right-content{
        @include breakpoint(max-md){
            margin-top: 30px;
        }
        .fst{
            margin-top: 20px;
            margin-bottom: 15px;
            color: #868686;
            font-size: 16px;
            font-weight: 400;
            position: relative;
            padding-left: 10px;
            &:before{
                position: absolute;
                content: "";
                width: 3px;
                height: 67px;
                background-color: $theme-color;
                left: 0;
                bottom: 7px;
                @include breakpoint(max-sm){
                    bottom: 23px;
                }
            }
        }
        a{
            color:  $header-color;
            font-size: 16px;
            font-weight: 400;
            display: block;
            @include transition;
            &:hover{
                color: $theme-color;
            }
            i{
                color: $theme-color;
                margin-right: 15px;
                font-size: 14px;
            }
        }
        .last{
            color: #868686;
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px;
            padding-top: 20px;
            margin-bottom: 30px;
            border-top: 1px solid #E6E6E6;
        }
        .author{
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include breakpoint(max-lg){
                justify-content: start;
                gap: 20px;
            } 
            .text{
                margin-left: -60px;
                @include breakpoint(max-xl){
                    margin-left: 0;
                } 
                @include breakpoint(max-sm){
                    margin-left: 10px;
                } 
                span{
                    display: block;
                }
                & span:first-child{
                    color:#1E2023;
                    font-size: 16px;
                    font-weight: 400;
                }
                & span:last-child{
                    color:#121315;
                    font-size: 20px;
                    font-weight: 700;
                    @include breakpoint(max-xl){
                        font-size: 16px;
                    }
                }
            }
            img{
                @include breakpoint(max-xxs){
                    width: 22%;
                }
            }
        }
    }
}

.about-style-3{
    position: relative;
    margin-top: -11%;
    padding-bottom: 120px;
    padding-top: 324px;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(max-xxxl){
        padding-top: 222px;
        padding-bottom: 80px;
    }
    @include breakpoint(max-xxl){
        padding-top: 205px;
        padding-bottom: 80px;
    }
    @include breakpoint(max-xl){
        padding-top: 175px;
        padding-bottom: 50px;
        margin-top: -13%;
    }
    @include breakpoint(max-lg){
        background-size: cover;
        padding-left: 40px;
    }
    @include breakpoint(max-md){
        padding-top: 120px;
        padding-left: 0;
    }
    @include breakpoint(max-sm){
        padding-top: 60px;
    }
    .about-thumb{
        position: relative;
        img{
            max-width: 100%;
            @include breakpoint(max-sm){}
        }
        .shape-image{
            position: absolute;
            right: 47px;
            bottom: 60px;

            @include breakpoint(max-lg){
                left: 0;
                bottom: 0;
            }
            @include breakpoint(max-md){
                display: none;
            }
        }
        .info{
            background-color: $theme-color;
            width: 246px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            position: absolute;
            top: 90px;
            left: -50px;
            z-index: 11;

            @include breakpoint(max-md){
                top: 0;
                left: 0;
            
            }
            span{
                color: #FFF;
                font-size: 16px;
                font-weight: 700;
            }
            img{
                position: absolute;
                left: 1px;
                border-radius: 0;
                @include breakpoint(max-md){
                    display: none;
                }
            }
        }
    }
    
    .content{
        margin-left: -30px;

        @include breakpoint(max-lg){
            margin-left: 0;
            margin-top: 30px;
        }
        p{
            padding: 30px 0;
        }
        .subtitle{
            span{
                color: $header-color;
                font-size: 16px;
                font-weight: 500;
                display: block;
                i{
                    font-size: 10px;
                    color: $theme-color;
                    display: inline-block;
                    padding: 4px;
                    border: 1px solid #EC7216;
                    border-radius: 50%;
                    font-weight: bold;
                    margin-right: 10px;
                    opacity: 0.964;
                    margin-bottom: 30px;
                }
            }
        }
        .title{
            color: $header-color;
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 40px;
            span{
                color: #EC7216;
                font-size: 22px;
                font-weight: 600;
            }
        }
        .info-box{
            .btn-read{
                padding: 14px 30px;
                @include breakpoint(max-sm){
                    padding: 14px 14px;
                }

            }
            .degination{
                margin-left: 70px;
                @include breakpoint(max-sm){
                    margin-left: 30px;
                }
                img{
                    max-width: 100%;
                }
            }
        }
    }
}