

.breadcrumb-style-1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 150px;
    position: relative;
    @include breakpoint(max-xl){
        padding-bottom: 100px;
        padding-top: 160px;
    }
    @include breakpoint(max-lg){
        padding-bottom: 80px;
        padding-top: 160px;
    }

    .shape{
        position: absolute;
        left: 0;
        top: 0;

        @include breakpoint(max-xxxl){
            display: none
        }

        @include breakpoint(max-xxl){
            bottom: 0;
            width: 12%;
        }
    }
    &:before{
        // position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: none !important;
        top: 0;
        left: 0;
    }

    .breadcrumb-title{
        color: $white;
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        position: relative;
        z-index: 1;

        @include breakpoint(max-lg){
            font-size: 50px;
        }
        @include breakpoint(max-sm){
            font-size: 45px;
        }
    }
    .breadcrumb-list{
        position: relative;
        z-index: 111;
        display: flex;
        justify-content: center;
        gap: 6px;

        a{
            color: $white;
            font-size: 16px;
            font-weight: 400;
            @include transition;
            &:hover{
                color: $theme-color;
            }
        }
        i{
            color: $white;
        }

    }
}