.imgw{
    max-width: 100%;
}

.w-100{
    width: 100%;
}


.f-w{
    font-weight: 700;
    &-600{
        font-weight: 600;
    }
    &-500{
        font-weight: 500;
    }
    &-400{
        font-weight: 400;
    }
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
 .fix {
    overflow: hidden;
 }

.ds-inline {
    display: inline-block;
}

.nblue-bg {
    background-color: $theme-color-2;
}
.cream-bg {
    background-color: $bg-color;
}
.white-bg {
    background-color: $white;
}

.bor-bottom {
    border-bottom: 1px solid #fff;
}
body{
    scrollbar-width: 1px;
}

.clr-white {
    color: $white;
    opacity: 0.7;
}
.clr-white-2 {
    color: $white;
    opacity: 0.8;
}
.clr-white-3 {
    color: $white;
}


.style-2{
    background-color: #15232E !important;
}

.padding-bottom{
    padding-bottom: 120px;

    @include breakpoint(max-xl){
        padding-bottom: 100px;
    }
    @include breakpoint(max-lg){
        padding-bottom: 80px;
    }
}

.mb-30{
    margin-bottom: 30px;
}
.mt-30{
    margin-top: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mt-60{
    margin-top: 60px;
}
.mb-120{
    margin-bottom: 120px;

    @include breakpoint(max-xl){
        margin-bottom: 100px;
    }
    @include breakpoint(max-lg){
        margin-bottom: 80px;
    }
}
.mt-10{
    margin-top: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.pb-0{
    padding-bottom: 0;
}