
.pricing-style-1{

    .pricing-box{
        border: 2px solid $header-color;
        background-color: $theme-color-2;
       // border-radius: 34px;
        margin-top: 73px;
        @include transition;

        @include breakpoint(max-sm){
            margin-top: 30px;
        }
        &:hover{
            transform: translateY(-10px);
        }

        .pricing-header{
            padding-left: 27px;
            padding-top: 60px;
            padding-bottom: 51px;
            position: relative;
    
            .shape-1{
                position: absolute;
                bottom: -1px;
                left: 0;
                display: none;
            }
            .plan{
                color: $white;
                font-size: 24px;
                font-weight: 600;
            }
            .title{
                color: $white;
                font-size: 74px;
                font-weight: 700;
                margin-right: 15px;
            }
            .offer-info{
                span{
                    display: block;
                }
                .red{
                    color: $theme-color;
                    font-size: 18px;
                    font-weight: 600;
                }
                .white{
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 16px;
                    font-weight: 400;
                    i{
                        margin-right: 5px;
                        font-weight: 900;
                        font-size: 17px;
                        display: inline-block;
                    }
                }
            }
            .poular-tag{
                width: 116px;
                height: 33px;
                position: absolute;
                background-color: $theme-color-2;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                top: -17px;
                right: 23px;

                @include breakpoint(max-lg){
                    top: -2px;
                    right: 21px;
                }
                .tag{
                    color: $white;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        .pricing-body{
            padding: 35px 32px 32px 27px;
            background-color: $white;
           // border-radius: 0px 32px 32px 32px;
            
            .title{
                color: #161616;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 14px;
            }
            ul{
                li{
                    a{
                        color: #868686;
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 12px;
                        display: flex;
                        align-items: center;
                        @include transition;
                        &:hover{
                            color: $theme-color;
                        }
                        img{
                            margin-right: 8px;
                        }
                    }
                }
            }
            .btn-nblue{
                width: 100%;
               // border-radius: 5px;
                margin-top: 25px;
                padding: 14px 0;
                text-align: center;
                &:after{
                    border-radius: 5px;
                }
            }
            .btn-nblue{
                width: 100%;
              //  border-radius: 5px;
                margin-top: 25px;
                padding: 14px 0;
                text-align: center;
                &:after{
                    border-radius: 5px;
                }
            }
            .btn-read{
                width: 100%;
                //border-radius: 5px;
                margin-top: 65px;
                padding: 14px 0;
                text-align: center;
                &:after{
                    border-radius: 5px;
                }
            }
        }
    }
    .pricing-box-2{
        border: 2px solid $theme-color;
        background-color: $theme-color;
        .offer-info{
            span{
                display: block;
            }
            #EC7216{
                color: $white !important;
                font-size: 18px;
                font-weight: 600;
            }
            .white{
                color: $white !important;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    .pricing-box-3{
        border: 2px solid rgba(100, 114, 143, 0.08);
        background: #EFEFEF;

        .pricing-header{
            .plan{
                color: $theme-color-2;;
            }
            .title{
                color: $theme-color-2;
            }
            .offer-info{
                span{
                    display: block;
                }
                .white{
                    color: rgba(2, 14, 40, 0.7);
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}