.section__title {
    color: $header-color;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    @include breakpoint(max-xxl){
        font-size: 40px;
    }
    @include breakpoint(max-xl){
        font-size: 38px;
    }
	@include breakpoint(max-sm){
		font-size: 25px;
	}
    &__65{
        color: $header-color;
        font-size: 65px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        text-transform: capitalize;
    }
    &__48{
        color: $header-color;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        text-transform: capitalize;

        @include breakpoint(max-xl){
            font-size: 40px;
        }
        @include breakpoint(max-lg){
            font-size: 35px;
        }

        @include breakpoint(max-md){
            font-size: 30px;
        }
        @include breakpoint(max-sm){
            font-size: 25px;
        }
    }
    &__48-white{
        color: $white;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        text-transform: capitalize;

        @include breakpoint(max-xl){
            font-size: 40px;
        }
        @include breakpoint(max-sm){
            font-size: 28px;
        }
        @include breakpoint(max-xxsmall){
            font-size: 25px;
        }
    }
    &__22{
        color: $header-color;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
    }
    &__18{
        color: $header-color;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
        text-transform: capitalize;
        &-white{
            color: $white;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.2;
            text-transform: capitalize;
        }
    }
}

.section__white {
    color: $white;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;

    @include breakpoint(max-lg){
        font-size: 34px;
    }
    @include breakpoint(max-sm){
        font-size: 26px;
    }
}
.section-24 {
    color: $white;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;

    @include breakpoint(max-sm){
        font-size: 20px;
    }
}
.section-24-black {
    color: $header-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;

    @include breakpoint(max-xl){
        font-size: 20px;
    }
}
.title-sm {
    color: $theme-color;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
    text-transform: capitalize;

    & img{
        margin-right: 10px;
    }
    &-white {
        color: $white;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 10px;

        @include breakpoint(max-sm){
            font-size: 14px;
        }
        & img{
            margin-right: 10px;
        }
    }
}

.section-22-white {
    a{
        color: $white;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.2;
    }
}

.product-title-b{
    color: #020E28;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.p-title{
    color: $header-color;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.card-title{
    color: $header-color;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 12px 0;
}
.product-title{
    color: $header-color;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 12px 0;
}

.section-padding {
    padding: 120px 0;
    @include breakpoint(max-xl){
        padding: 100px 0;
    }
    @include breakpoint(max-lg){
        padding: 80px 0;
    }

}

.pl-290{
    padding-left: 290px;

}
.pr-290{
    padding-right: 290px;
}